{{ if .id_select }}
<section id="{{ .id }}" class="bg-{{ .bg_color }}">
{{ else }}
<section class="bg-{{ .bg_color }}">
{{ end }}
    <div class="container max-w-7xl mx-auto px-4">
        {{ if eq .bg_color "white" }}

            {{ if eq .title_size "big" }}

                <h2 class="font-bold capitalize text-5xl md:text-6xl lg:text-7xl text-{{ .align }} tracking-wider text-black">
            {{ .title | safeHTML }}
                </h2>
            {{ end }}

            {{ if eq .title_size "medium" }}

            <h2 class="font-bold capitalize text-4xl md:text-5xl lg:text-6xl text-{{ .align }} tracking-wider text-black">
            {{ .title | safeHTML }}
            </h2>
            {{ end }}

            {{ if eq .title_size "small" }}
            <h2 class="font-bold capitalize text-3xl md:text-4xl lg:text-5xl text-{{ .align }} tracking-wider text-black">
            {{ .title | safeHTML }}
            </h2>
            {{ end }}

            {{ if .desc_select }}
            <p class="mt-6 max-w-5xl mx-auto text-black text-{{ .align }} text-xl tracking-wider">{{ .desc }}</p>
            {{ end }}           
        {{ else }}

        {{ if eq .title_size "big" }}
        <h2 class="font-bold capitalize text-5xl md:text-6xl lg:text-7xl text-{{ .align }} text-white">
            {{ .title | safeHTML }}
        </h2>
        {{ end }}

        {{ if eq .title_size "medium" }}
        <h2 class="font-bold capitalize text-4xl md:text-5xl lg:text-6xl text-{{ .align }} text-white">
            {{ .title | safeHTML }}
        </h2>
        {{ end }}

        {{ if eq .title_size "small" }}
        <h2 class="font-bold capitalize text-3xl md:text-4xl lg:text-5xl text-{{ .align }} text-white">
            {{ .title | safeHTML }}
        </h2>
        {{ end }}

        
        {{ if .desc_select }}
        <p class="mt-6 text-{{ .align }} max-w-5xl mx-auto text-xl tracking-wider text-white">{{ .desc }}</p>
        {{ end }}      


        {{ end }}

    </div>
</section>