<section class="bg-{{ .bg_color }}"> 
  <div class="container max-w-7xl mx-auto px-4">


    <div class="grid grid-cols-12 md:gap-12 lg:gap-20">

      <div class="col-span-12 md:col-span-6 order-2 md:order-1">
        <div class="flex flex-col justify-between h-full">
          <div class="mb-6">
            {{ if eq .bg_color "white" }}
            <h2
              class="font-bold text-black capitalize text-3xl md:text-4xl lg:text-5xl my-4 md:my-0 md:mb-6">
              {{ .title }}
            </h2>
            <p class="text-xl text-black">{{ .desc | safeHTML }}</p>
          </div>
          {{ else }}
          <h2
          class="font-bold text-white capitalize text-3xl md:text-4xl lg:text-5xl my-4 md:my-0 md:mb-6">
          {{ .title }}
          </h2>
          <p class="text-xl text-white">{{ .desc | safeHTML }}</p>
          </div>
          {{ end }}
        {{ if .cta_select }}

          <a href="{{ .Site.BaseURL}}{{ .imgbox3.box3_cta_link }}"
            class="transition duration-500 btn_primary md:w-72">
            {{ .cta }}
          </a>
        
        {{ else }}
        <span></span>
        {{ end }}
          </div>
      </div>

      <div class="col-span-12 md:col-span-6 order-1 md:order-2">
        <div class="youtube w-full shadow-2xl" data-embed="{{ .VideoID }}">
          <div class="play-button"></div>
      </div>
      </div>

    </div>

  </div>
</section>