<footer class="bg-lightgreen" aria-labelledby="footerHeading">
  <h2 id="footerHeading" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto py-12 lg:py-16 px-4 xl:px-0">
    <div class="xl:grid xl:grid-cols-4 xl:gap-8">
      <div class="space-y-4 xl:col-span-1">
        <div class="flex flex-col items-center md:items-start">
        <img class=""
          src="{{ .Site.Params.schema.logofooter }}?nf_resize=fit&w=150&h=150"
          alt="{{ .Site.Params.sitename }}" width="250px" height="150px">
        </div>
        <div class="flex md:space-x-6 justify-center lg:justify-start">
          {{ if eq .Site.Params.social.facebook "#" }}
          <span></span>
          {{ else }}
          <a href="{{ $.Site.Params.social.facebook | absURL }}"
            class="text-black hover:text-secondary transition duration-500 mr-3 md:mr-0" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">Facebook</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#facebook"></use>
            </svg>
          </a>
          {{ end }}
          {{ if eq .Site.Params.social.instagram "#" }}
          <span></span>
          {{ else }}
          <a href="{{ .Site.Params.social.instagram | absURL  }}"
            class="text-black hover:text-secondary transition duration-500" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">Instagram</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#instagram"></use>
            </svg>
          </a>
          {{ end }}
          {{ if eq .Site.Params.social.twitter "#" }}
          <span></span>
          {{ else }}
          <a href="{{ .Site.Params.social.twitter | absURL  }}"
            class="text-black hover:text-secondary transition duration-500" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">Twitter</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#twitter"></use>
            </svg>
          </a>
          {{ end }}
          {{ if eq .Site.Params.social.linkedin "#" }}
          <span></span>
          {{ else }}
          <a href="{{ .Site.Params.social.linkedin | absURL  }}"
            class="text-black hover:text-secondary transition duration-500" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">linkedin</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#linkedin"></use>
            </svg>
          </a>
          {{ end }}
        </div>

      </div>
      <div class="mt-12 grid grid-cols-1 gap-8 xl:mt-0 col-span-2">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
          <div class="flex flex-col text-center sm:text-left">
            <h3 class="text-xl  font-semibold text-black tracking-wider uppercase">
              {{ i18n "navigate" }}
            </h3>
            <ul class="mt-4 space-y-3">
              {{ range .Site.Menus.main -}}
              <li class="">
                <a href="{{ .URL | relLangURL }}"
                  class="text-xl text-black hover:text-secondary transition duration-500 ">
                  {{ .Name }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
          <div class="flex flex-col items-center sm:items-start space-y-4">
            <h3 class="text-xl  font-semibold text-black tracking-wider uppercase">
              Contact
            </h3>

            <div class="flex flex-row items-center mt-4 text-black text-xl">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 3h5m0 0v5m0-5l-6 6M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z" />
              </svg>


              
                {{ .Site.Params.schema.phone }}
              
            </div>

            <div class="flex flex-row items-center mt-1 text-black text-xl">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
              {{ .Site.Params.schema.email }}
              
            </div>

            {{ if .Site.Params.schema.address_toggle }}
            <address class="text-xl text-black mt-4 space-y-4 text-center md:text-left">

              {{ .Site.Params.schema.address1 }},<br>
              {{ if eq .Site.Params.schema.address2 "#" }}
              <span></span>
              {{ else }}
              {{ .Site.Params.schema.address2 }}<br>
              {{ end }}
              
              {{ .Site.Params.schema.city }}, {{ .Site.Params.schema.region }}
              <br>
              {{ .Site.Params.schema.postalcode }}
              <br>
              {{ .Site.Params.schema.country }}

            </address>
            {{ end }}
            
          </div>
        </div>

      </div>



      <div class="flex flex-col items-center sm:items-start">
      <h3 class="text-xl mt-5 md:mt-0 font-semibold text-black tracking-wider uppercase space-y-4">
        {{ i18n "hours" }}
      </h3>
      <ul class="mt-4 space-y-2">

        {{ range .Site.Params.hours }}
        <li>
          <p class="text-xl text-black text-center md:text-left">
            {{ .hours }}
          </p>
        </li>
        {{ end }}

      </ul>
    </div>


    </div>
    <div class="mt-12 border-t border-gray-200 pt-8 lg:flex lg:flex-row lg:justify-between">
      <p class="text-base text-black text-center">
        Copyright &copy; {{ dateFormat "2006" now }} - <a href="{{ .Site.BaseURL | relLangURL }}privacy-policy"
          class="underline hover:text-secondary transition duration-500">{{ i18n "privacypolicy" }}</a>
      </p>
      <div class="flex flex-col lg:flex-row items-center">
        <p class="text-base text-black text-center">
          {{ i18n "credit" }}
          <div class="ml-1">
            <a href="https://www.supersonicsites.com/" class="underline hover:text-secondary transition duration-500"
              target="_blank" rel="noopener noreferrer">Supersonic Sites®</a>
          </div>
        </p>
      </div>
    </div>
  </div>
</footer>