<footer class="max-w-7xl mx-auto" aria-labelledby="footerHeading">
  <h2 id="footerHeading" class="sr-only">Footer</h2>
    <div class="my-12 border-t border-gray-200 pt-8 lg:flex lg:flex-row lg:justify-between">
      <p class="text-base text-black text-center">
        Copyright <span id="year"></span> - <a href="{{ .Site.BaseURL | relLangURL }}privacy-policy"
          class="underline hover:text-secondary transition duration-500">{{ i18n "privacypolicy" }}</a>
      </p>
      <div class="flex flex-col lg:flex-row items-center">
        <p class="text-base text-black text-center">
          {{ i18n "credit" }}
          <div class="ml-1">
            <a href="https://www.supersonicsites.com/" class="underline hover:text-secondary transition duration-500"
              target="_blank" rel="noopener noreferrer">Supersonic Sites®</a>
          </div>
        </p>
      </div>
    </div>

</footer>

<!-- Display Current Year in Footer -->
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('year').textContent = new Date().getFullYear();
    });
</script>
